* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;;
}

body.body {
    margin: 0 185px;
    font-family: Arial,sans-serif;
}

.title-signup{
    color: #03256C;
    font-size: 25px;
    font-weight: bold;
    padding-left: 0;
    text-transform: uppercase;
}

.body.search-filter {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    width: 40%;
    display: grid;
    grid-template-columns: 85% 15%;
    border: 1px solid #fff;
    column-gap: 10px ;
}

 .search {
    boder-radius: 5px;
    padding-left: 10px;
}

.search-bar i {
    background: #03256C;
    width: 50px;
    border-radius: 5px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.search-filter.filter {

}